doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title
    link(href='https://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css')
    div(id='u' style='display:none')= username
    style(type='text/css').
      * {margin:0; padding:0; font-family: "Carter One", Arial, cursive;}
      html, body {
      height: 100%;
      }
      body {
      background-image: url("../bg/clouds.jpg");
      padding-top: 5%;
      }
      canvas {
      margin-top: 15%;
      user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -webkit-touch-callout: none;
      -webkit-user-drag: none;
      background-color: azure;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      margin-bottom: 150px;
      display: block;
      }
  body(overflow='scroll')
    h1(align='center') JS Stealth
    canvas#canvas(tabindex='1')
      | HTML 5 canvas support missing!
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='js/middle.js')
    script(src='js/keypress.js')
    script(src='js/framework.js')
    script(src='js/animation.js')
    script(src='js/tilemap.js')
    script(src='js/pod.js')
    script(src='js/hunter.js')
    script(src='js/arena.js')
    script(src='js/main.js')
